.webpage {
    width: 100%;
    height: 530px;
    float: top;
    border: 1px solid black;
}

.status_bar {
    width: 100%;
    height: 30px;
    border: 1px solid black;
}

.command {
    width: 100%;
    height: 50px;
    float: bottom;
    border: 1px solid black;

}
